.movie-section {
  padding: 30px 40px;
  position: relative;
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.movie-row {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 20px;
}

.movie-row::-webkit-scrollbar {
  display: none;
}

.movie-card {
  min-width: 180px;
  background: #111;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.08);
}

.movie-card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.movie-info {
  padding: 10px;
  color: white;
}

.rating {
  color: #00e676;
  font-weight: bold;
}

.genre {
  font-size: 13px;
  color: #bbb;
}

.arrow {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  font-size: 28px;
  background: rgba(0,0,0,0.6);
  border: none;
  color: white;
  padding: 10px 14px;
  cursor: pointer;
  border-radius: 50%;
  z-index: 2;
}

.arrow.left { left: 10px; }
.arrow.right { right: 10px; }


@media (max-width:768px){

  .movie-card{
    width:160px;
  }

  .movie-card img{
    height:230px;
  }

  .section-title{
    font-size:22px;
  }

}